body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

#main-title #right-price {
  font-weight: bold;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  /* height: 450px; */
}

#jumbotron-landing {
  background-image: url('../img/backgrounds/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#menu {
  font-size: 28px;
  height: 200px;
}

#happy {
  height: auto;
}

#nav-row {
  height: auto;
}

.sidebar {
  width: 30%;
  height: auto;
  margin: 0;
  padding: 0;
}


#happy-hour {
  background-color: lavender;
  height: auto;
}

#party-time {
  background-color: coral;
  height: auto;
}

#breakfast {
  background-image: url('../img/foodtop/breakfast.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#lunch {
  background-image: url('../img/foodtop/dinner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#dinner {
  background-image: url('../img/foodtop/lunch.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.btn-outline-warning {
  color: coral;
  border-color: coral;
}

.btn-outline-warning:hover{
  color: #212529;
  border-color: coral;
  background-color: coral;
}
