body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

#main-title #right-price {
  font-weight: bold;
}

.coral {
  color: coral;
}

.bg-lavender {
  background-color: lavender;
}


.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  /* height: 450px; */
}

#nav-btn {
  display: none;
}

#jumbotron-landing {
  background-image: url('../img/backgrounds/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#menu {
  font-size: 28px;
  height: 200px;
}

#happy {
  height: auto;
}

#nav-row {
  height: auto;
}

.sidebar {
  width: 30%;
  height: auto;
  margin: 0;
  padding: 0;
}


#happy-hour {
  background-color: lavender;
  height: auto;
}



#breakfast {
  background-image: url('../img/foodtop/breakfast.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#lunch {
  background-image: url('../img/foodtop/dinner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#dinner {
  background-image: url('../img/foodtop/lunch.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.btn-outline-warning {
  color: coral;
  border-color: coral;
}

.btn-outline-warning:hover{
  color: #212529;
  border-color: coral;
  background-color: coral;
}

#jumbotron-menu-nav {
  background-image: url('../img/backgrounds/foodsBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-size: 22px;
}

#inner-menu {
  background-color: #fff;
}

#reviews {
  box-shadow: 5px 5px 12px 10px grey;
  border-radius: 0.3rem;
}

#jumbotron-forms {
  background-image: url('../img/backgrounds/subscribe.jpg');
}

#jumbotron-footer {
  height: 450px
}
