body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

#main-title #right-price {
  font-weight: bold;
}

.jumbotron {
  border-radius: 0;
  background-image: url('../img/backgrounds/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0;
  /* height: 450px; */
}

#nav-row {
  font-size: 28px;
  height: auto;
}


#happy-hour {
  background-color: lavender;
}

#party-time {
  background-color: coral;
}

#breakfast {
  background-image: url('../img/foodtop/breakfast.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#lunch {
  background-image: url('../img/foodtop/dinner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#dinner {
  background-image: url('../img/foodtop/lunch.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
